<%- include('partials/header') %>
<div class="container landing_container">
	<div class="row mt-4">
		<div class="landing_title-container col-6 mt-5">
			<h1 class="text-center" id="landing_title"></h1>
			<img src="/img/logo.png" class="mx-auto d-block" alt="brand image">
		</div>
		<div class="landing_intro-container col-6 mt-5 pt-5">
			<h3 id="landing_intro">Hi, my name is Adonis Yee and welcome to my recipe app!</h3>
			<a class="btn btn-lg btn-block btn-outline-dark dropdown-toggle mb-2 mt-2" data-bs-toggle="collapse" href="#landing_text" role="button" aria-expanded="false" aria-controls="landing_text">Read More</a>
			<p class="collapse multi-collapse" id="landing_text">
					I built this app as both a way to practice and demonstrate my full stack web development skills, 
					and to serve as a library where I could preserve the recipes my grandmothers used to make for me and my family. This web 
					app was built using HTML, CSS, and Javascript for the front end, and Node, Express, and MongoDB for the back end. Please 
					let me know how you enjoy the functionality of the website, and I hope you may come across a recipe or two that you might
					enjoy as well! Also, feel free to make an account and add your own family recipe if you would like to :-) 
			</p>
			<a href="/recipes"><button class="btn btn-outline-dark btn-lg btn-block mb-2 mt-2" type="button">Explore Recipes</button></a>
		</div>
	</div>
</div>
<script src="/js/landing.js"></script>
<%- include("partials/footer") %>