<%- include('partials/header') %>
<div class="container signup_container ms-4 mt-4">
	<h1>Sign Up</h1>
	<form action="/signup" method="POST">
		<input class="form-control" type="email" name="email" placeholder="Email Address">
		<input class="form-control" type="text" name="username" placeholder="Username">
		<input class="form-control" type="text" name="password" placeholder="Password">
		<button class="btn btn-danger custom-bg-color" type="submit">Sign Up</button>
	</form>
</div>
<%- include('partials/footer') %>