/* landing */
.landing-container {
	font-family: "Roboto", sans-serif;
}
.landing-title {
	font-family: "Dancing Script", sans-serif;
	font-size: 5rem;
}

.landing-text {
	line-height: 2.2;
}

/* recipes */

.card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	width: 30%;
	padding: 0;
}

.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

.card-title {
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

.card-text {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}

/* show_recipes */
.show_image-container img {
	width: 80%;
}

.show_ingredients-container {
	width: 40%;
	margin-right: 10%;
}
