/*media queries */
@media (min-width: 320px) and (max-width: 999px) {
	/*landing*/
	.landing_title-container {
		font-family: "Dancing Script", sans-serif;
		margin-right: 10%;
		width: 100%;
	} 
	.landing_intro-container {
		width: 100%;
		text-align: center;
	}
	/*recipes*/
	.card {
		border: 1px solid #ddd;
		border-radius: 1rem;
		width: 90%;
		padding: 0;
	}
	/*recipes-show*/
	.show_image-container {
		width: 100%;

	}
	.show_image-container img {
		width: 90%;
		margin-left: 5%;
		margin-bottom: 1em;
	}

	.show_details-container {
		width: 90%;
		margin-left: 5%;
	}
	.show_ingredients-container {
		width: 90%;
		margin-left: 5%;
	}
	.show_steps-container {
		width: 90%;
		margin-left: 5%;
	}
	.show_votes-container {
		width: 50%;
		margin-left: 25%;
	}
	.show_add-comment {
		margin-left: 5%;
		width: 50%;
	}
	.show_comment-container {
		margin-left: 5%;
		margin-right: 5%;
		
	}
	
	
	
	
	.show.show.show.show.show
}

@media (min-width: 1000px) {
	/*landing*/
	.landing_title-container  {
		font-family: "Dancing Script", sans-serif;
		margin-right: 10%;
		width: 40%;
	}
	.landing_intro-container {
		width: 50%;
	}
	/*recipes*/
	.card {
		border: 1px solid #ddd;
		border-radius: 1rem;
		width: 30%;
		padding: 0;
	}
	/*recipes-show*/
	.show_image-container img {
		width: 80%;
	}
	.show_ingredients-container {
		width: 40%;
		margin-right: 10%;
	}
}

/* site-wide */
.custom-bg-color {
	background-color: rgb(230, 69, 9);
}

/* navbar */
.navbar-dark .navbar-nav .nav_custom-color {
	color: rgba(255, 255, 255,.85);
}

.navbar-dark .navbar-nav .nav_custom-color:hover {
	color: white;
}

.navbar-dark .navbar-nav .nav_custom-color:focus {
	color: white;
}

.nav_title {
	font-family: "Dancing Script", sans-serif;
	font-size: 2rem;
	margin: auto;
}

/* landing */
.landing_container {
	font-family: "Roboto", sans-serif;
}

#landing_title {
	font-size: 8vw;
}

#landing_intro {
	font-family: "Roboto Slab", sans-serif;
	opacity: 0;
}

#landing_text {
	line-height: 2.2;
}

/* recipes */
.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

.card-title {
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

.card-text {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}

/* show_recipes */
.show_vote-text {
	font-family: 'Readex Pro', sans-serif;
	font-size: 2rem;
}

/* login */
.login_container {
	font-family: 'Roboto', sans-serif;
	width: 60%;
}

/* signup */
.signup_container {
	font-family: 'Roboto', sans-serif;
	width: 40%;
}



