/* site-wide */
.custom-bg-color {
	background-color: rgb(230, 69, 9);
}

/* navbar */
.navbar-dark .navbar-nav .nav_custom-color {
	color: rgba(255, 255, 255,.85);
}

.navbar-dark .navbar-nav .nav_custom-color:hover {
	color: white;
}

.navbar-dark .navbar-nav .nav_custom-color:focus {
	color: white;
}

.nav_title {
	font-family: "Dancing Script", sans-serif;
	font-size: 2rem;
	margin: auto;
}
@media (min-width: 992px) {
	.nav_title {
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
	}
}

/* landing */
.landing_container {
	font-family: "Roboto", sans-serif;
}
.landing_title-container {
	font-family: "Dancing Script", sans-serif;
	width: 40%;
	margin-right: 10%;
}

#landing_title {
	font-size: 8vw;
}

#landing_intro {
	font-family: "Roboto Slab", sans-serif;
	opacity: 0;
}

#landing_text {
	line-height: 2.2;
}

/* recipes */
.card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	width: 30%;
	padding: 0;
}

.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

.card-title {
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

.card-text {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}

/* show_recipes */
.show_image-container img {
	width: 80%;
}

.show_ingredients-container {
	width: 40%;
	margin-right: 10%;
}

/* login */
.login_container {
	font-family: 'Roboto', sans-serif;
	width: 60%;
}

/* signup */
.signup_container {
	font-family: 'Roboto', sans-serif;
	width: 40%;
}

